.p-header{
    text-justify: auto;
}

.image{
    object-fit: cover;
}

li.bread :hover {
    font-size: 18pt;
    transition: 500ms;
}
.crumbDiv{
    height: 30px;
}

button.btn-header:hover .btn-icon {
    transform: translateX(10px);
    transition: 300ms;
  }